.contact-page-container {
  background: rgb(250, 255, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100vw;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .contact-page-container {
    padding: 100px 0;
  }
}
