/* .nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(255, 190, 146);
  height: 80px;
  display: flex;
  justify-content: center;
  z-index: 1000;
} */

.nav-container {
  position: fixed;
  right: 0;
  width: 7%;
  background: rgb(255, 190, 146);
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

@media screen and (max-width: 960px) {
  .nav-wrapper {
    transition: 0.8s all ease;
  }
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height:80px; */

  width: 100%;
}

.mobile-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.nav-menu {
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.logo-img {
  width: 50%;
}

.logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30%;
}
